module.exports = {
	
	db: {
		host: 'localhost',
		user: 'user',
		password: 'pass-for-user',
		database: 'db-for-project',
		connectionLimit: 100
	},

	password: {
		maxLength: 18,
		minLength: 12,
		uppercaseMinCount: 3,
		lowercaseMinCount:3,
		numberMinCount: 2,
		specialMinCount:2,
		UPPERCASE_RE: /([A-Z])/g,
		LOWERCASE_RE: /([a-z])/g,
		NUMBER_RE: /([\d])/g,
		SPECIAL_CHAR_RE: /([\?\-])/g,
		NON_REPEATING_CHAR_RE: /([\w\d\?\-])\1{2,}/g
	},

	pass_gen: {
		saltAround: 10
	},

	mail: {
		gmail: {
			service: 'Gmail',
		   	auth: {
		       user: 'user@gmail.com',
		       pass: 'pass-for-gmail'
		   }
		},
		from: 'sender@gmail.com',
		to: 'receiver@gmail.com'
	},

	// порт, на котором слушает сервер
	port: 3000

}