<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title></title>
</head>
<body>
	<h1>Регистрация почти завершена</h1>
	<p>Ваш пароль для входа выслан на указанный Вами e-mail: <%= email %> </p>

</body>
</html>